* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

body {
  background-color: #FFFDF1;
  color: $baseColor;
  margin: 0;
  font-family: $font;
  line-height: $fontLineHeight;
  min-width: 400px;
}

a {
  color: $baseColor;

  &:hover {
    text-decoration: none;
  }
}

.center {
  text-align: center;
}
