@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    opacity: 1;
    color: $color;
    transition: color $timing;
  }

  &::-moz-placeholder {
    opacity: 1;
    color: $color;
    transition: color $timing;
  }

  &:-ms-input-placeholder {
    color: $color;
    transition: color $timing;
  }

  &:-moz-placeholder {
    opacity: 1;
    color: $color;
    transition: color $timing;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet + 1}) {
    @content;
  }
}
