.page {
  &::before,
  &::after {
    content: '';
    position: fixed;
  }

  &::after {
    background: url(../img/lemon.png) 0 0 no-repeat;
    background-size: cover;
    top: 33px;
    right: 0;
    height: 152px;
    width: 84px;

    @include tablet {
      top: 20px;
      height: 515px;
      width: 306px;
    }
  }

  &::before {
    background: url(../img/lion.png) 100% 0 no-repeat;
    background-size: cover;
    bottom: -10px;
    left: 0;
    width: 78px;
    height: 160px;

    @include tablet {
      width: 283px;
      height: 503px;
    }
  }
}

.header {
  background-color: $purple;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  padding: 15px 0;
  position: relative;
  z-index: 10;

  &__title {
    margin: 0;
    font-size: 23px;
    line-height: 30px;
    font-family: $fontFutura;
    text-transform: uppercase;

    @include tablet {
      font-size: 42px;
      line-height: 50px;
    }
  }
}

.logo {
  position: absolute;
  top: 65px;
  left: 6px;
  width: 30px;

  @include tablet {
    position: fixed;
    width: 84px;
    top: 116px;
    left: 43px;
  }
}

.main {
  position: relative;
  z-index: 2;
}

.container {
  padding: 0 20px;
  margin: 0 auto;

  @include tablet {
    padding: 0 150px;
    max-width: 1410px;
  }
}

// title
.title {
  font-family: $fontFutura;
  font-size: 42px;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;

  @include tablet {
    font-size: 52px;
    line-height: 60px;
  }

  &_purple {
    color: $purple;
  }
}

// button
.button {
  cursor: pointer;
  text-transform: uppercase;
  display: inline-flex;
  background-color: $purple;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding: 18px 26px;
  color: $white;
  border: 0;
  text-decoration: none;
  min-width: 205px;
  justify-content: center;
  transition: opacity $timing;

  &:hover {
    opacity: .9;
  }

  &:focus {
    outline: none;
  }

  &_full {
    width: 100%;
  }
}

// top
.top {
  padding: 67px 0 120px;
  margin-bottom: -25px;
  overflow: hidden;
  width: 100%;
  position: relative;

  @include tablet {
    padding-bottom: 270px;
    margin-bottom: -210px;
  }

  &::before {
    background: url(../img/bg-top.png) 0 no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(10%);
    width: 264px;
    height: 316px;

    @include tablet {
      top: -100px;
      width: 616px;
      height: 740px;
    }
  }

  &__title {
    color: $white;
    font-family: $fontFutura;
    font-size: 22px;
    line-height: 36px;
    transform: rotate(-3deg);
    text-align: center;
    margin-bottom: 40px;

    @include tablet {
      font-size: 52px;
      line-height: 74px;
      margin-bottom: 65px;
    }

    &-row {
      & + & {
        margin-top: -2px;
      }
    }

    &-text {
      padding: 0 28px;
      font-family: $fontFutura;
      text-transform: uppercase;
      display: inline-flex;
      background-color: $baseColor;
    }
  }

  &__video {
    max-width: 734px;
    padding: 0 20px;
    margin: 0 auto;

    @include tablet {
      padding: 0;
    }
  }
}

// products
.products {
  text-align: center;
  position: relative;
  margin-bottom: 70px;

  @include tablet {
    margin-bottom: 75px;
  }

  &__man {
    @include tablet {
      position: absolute;
      bottom: -42px;
      left: 50%;
      transform: translateX(-43%);
    }
  }

  &__content {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      margin-left: -18px;
    }
  }

  &__card {
    margin-bottom: 35px;

    @include tablet {
      margin: 0 0 20px 18px;
      width: calc(50% - 18px);
    }

    &-title {
      margin-bottom: 13px;

      @include tablet {
        margin-bottom: 28px;
      }
    }

    &-pic {
      margin: 0 0 20px 0;

      @include tablet {
        margin-bottom: 40px;
      }
    }
  }
}

// make
.make {
  margin-bottom: 40px;

  &__title {
    margin-bottom: 45px;

    @include tablet {
      margin-bottom: 25px;
    }
  }

  &__content {
    max-width: 734px;
    margin: 0 auto;
  }

  &__video {
    margin-bottom: 112px;

    @include tablet {
      margin-bottom: 145px;
    }
  }

  &__detail {
    @include tablet {
      display: flex;
      align-items: center;
    }

    &-desc {
      flex: 1;
      padding: 0 0 0 20px;

      @include tablet {
        margin: 0;
        padding: 0;
      }
    }

    &-text {
      background: url(../img/hand.png) 0 6px no-repeat;
      padding-left: 93px;
      padding-bottom: 24px;
    }

    &-img {
      text-align: center;
    }
  }
}

// form
.form {
  max-width: 546px;
  margin: 0 auto 40px;

  @include tablet {
    margin-bottom: 55px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 35px;
  }

  &__label {
    margin-bottom: 15px;
    display: block;
  }

  &__group {
    & + & {
      margin-top: 40px;
    }
  }

  &__birthday {
    display: flex;

    .select {
      margin-right: 20px;
    }
  }

  &__control {
    display: flex;

    & + & {
      margin-top: 20px;
    }
  }
}

// field
.field {
  margin-bottom: 20px;

  &__input {
    background-color: $white;
    position: relative;
    z-index: 3;
    color: $baseColor;
    padding: 17px 21px;
    display: block;
    width: 100%;
    font-style: $fontSize;
    line-height: $fontLineHeight;
    border: 1px solid #ACACAC;
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    @include placeholder(#ACACAC);

    &:focus {
      outline: none;
    }
  }
}

// select
.select {
  height: 40px;
  padding: 0 12px;
  color: #242424;
  border: 1px solid #eee;
  box-shadow: none;
  border-radius: 0;
  background: #fff;

  &:focus {
    outline: none;
  }
}

// control
.control {
  display: flex;

  & + & {
    margin-left: 40px;
  }

  &__input {
    margin: 5px 12px 0 0;
  }

  &__text {
    flex: 1;
  }
}

// store-map
.store-map {
  margin-bottom: 32px;

  @include tablet {
    margin-bottom: 55px;
  }

  &__title {
    margin-bottom: 19px;

    @include tablet {
      margin-bottom: 30px;
    }
  }

  &__content {
    max-width: 940px;
    margin: 0 auto;
  }
}

// inspiration
.inspiration {
  text-align: center;

  &__title {
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 45px;
    }
  }

  &__videos {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 0 37px -18px;
    }
  }

  &__video {
    margin-bottom: 20px;

    @include tablet {
      margin-left: 18px;
      width: calc(50% - 18px);
    }
  }
}

.video-wrapper {
  background-color: #FFFDF1;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &_bg-flowers {
    &::before {
      background: url(../img/bg-video-flowers.png) 0 0 no-repeat;
      background-size: cover;
      width: 190px;
      height: 150px;
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-59%);
      bottom: -113px;

      @include tablet {
        width: 415px;
        height: 310px;
        bottom: -215px;
      }
    }
  }
}

.footer {
  margin-top: 40px;
  background-color: $purple;
  color: $white;
  font-size: 14px;
  line-height: 16px;
  padding: 35px 0 40px;
  position: relative;
  z-index: 2;

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px 16px;
  }

  &__block {
    display: flex;
    justify-content: center;

    & + & {
      margin-top: 50px;

      @include tablet {
        margin: 0;
      }
    }
  }

  &__text {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.social {
  display: flex;
  align-items: center;

  &__text {
    margin-right: 10px;
  }

  &__links {
    display: flex;

    &-link {
      & + & {
        margin-left: 10px;
      }
    }
  }
}
