//mediaqueries
$tablet: 1024px;

// color
$baseColor: #000;
$white: #fff;
$purple: #601175;

// timing
$timing: .3s;

//fonts
$font: 'Courier', serif;
$fontFutura: 'Futura Std', sans-serif;
$fontSize: 16px;
$fontLineHeight: 24px;
